# Built-in Data Structures

This notebook reproduces the code used to introduce data structures. Test each cell and make sure you understand all functionalities. At the bottom, please complete the exercises.

## Lists

### Creating lists

In [ ]:
names = ["John", "Mary","Paul"]
numbers = [1, 2, 5, 10, 3]
list("Lucas") # ['l', 'u', 'c', 'a', 's']

### Indexing of a List

In [ ]:
my_list = [1, "a", 100, "hello", 20.5]
my_list[2] # will return 100
my_list[-4] # will return "a"

### Adding and removing elements

In [ ]:
my_list.append("dwarf")
my_list.insert(1, "red")
item_removed = my_list.pop(2)
my_list.remove("red")

### List operators

In [ ]:
"dwarf" in my_list
20.5 not in my_list
[1, 2, 3] + [4]
[1, 2, 3] * 2
[1, 2, 3] < [1, 2, 4]
[5, 2, 3] > [1, 2, 4]
[1, 2, 3] == [1, 2, 3]

### Lists of lists

In [1]:
my_list = ['a', [1, 2, 3], 'z']
my_list[1][0] # Apply left to right
my_list[1] # Will return [1, 2, 3]
[1, 2, 3][0] # Will return 1

### Lists functions

In [ ]:
len(my_list)
len([1, [1, 2], 3]) # Will return 3
min([1,2,3]) # Will return 1
max([1,2,3]) # Will return 3
sum([1,2,3]) # Will return 6

### Slicing

In [2]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5] # Will return [2, 3, 7, 5]
seq[-5:-2]

[7, 5, 6]

### Sorting

In [ ]:
a = [7, 2, 5, 1, 3]
a.sort()
print(a)

### Exercises

1. Given 2 lists of ints, a and b, write a code to print True if they have the same first element or they have the same last element.

In [ ]:
a = [1, 2, 3, 4]
b = [5, 4, 3, 2]

2. Write a program that takes a list of numbers and returns a new list containing only the even numbers from the first list.

Sample list: <code>[1, 2, 3, 4, 5, 6]</code>. Expected Output: <code>[2, 4, 6]</code>

3. Write a program that compares two lists and prints True if they have at least one common member.

Sample lists: <code>[1, 2, 3, 4, 5, 6]</code> and <code>[10, 9, 8, 7, 6]</code>. Expected Output: True

4. **Challenge!** Given a list of integers, write a Python function to create a new list with the same number of elements in the original list such that each integer in the new list is the sum of its neighbours and itself. For example, if  <code>listA = [10,20,30,40,50]</code>, <code>new_list =[30,60,90,120,90]</code>

## Dictionaries

### Creating dictionaries

In [ ]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
print(d1) # Will show {'a': 'some value', 'b': [1, 2, 3, 4]}

### Inserting elements

In [ ]:
d1[7] = 'an integer'
print(d1) # Will show {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

### Common operations

In [2]:
# How many key:value pairs
len(my_dict)

# Check if some value is a key
"a" in my_dict

# Print all keys
for key in my_dict:
    print(key)

NameError: name 'my_dict' is not defined

### Delete elements

In [ ]:
d1[5] = 'some value'
d1['dummy'] = 'another value'
print(d1) # {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'dummy': 'another value'}

del d1[5]
print(d1) # {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 'dummy': 'another value'}

ret = d1.pop('dummy')
print(ret) # Will show 'another value'
print(d1) # {'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

### List keys and values

In [ ]:
print(list(d1.keys())) # ['a', 'b', 7]
print(list(d1.values())) # ['some value', [1, 2, 3, 4], 'an integer']

### Iterate over dictionaries

In [3]:
# Iterate over keys
for key in my_dict.keys():
    print(key)

# Iterate over keys and values simultaneously
for key, value in my_dict.items():
    print(key,value)

# Iterate over values
for value in my_dict.values():
    print(value)

NameError: name 'my_dict' is not defined

### Exercises

1. Write a Python program to combine these two dictionaries adding values for common keys.
<code>
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
</code>

Sample output: <code>d3 = {'a': 400, 'b': 400, 'd': 400, 'c': 300}</code>

2. Use a dictionary to create a program that prompts for an integer and prints out the integer using words. For example: 138 will print "one three eight"

3. Create a dictionary that maps countries to their capitals. You may start with an empty dictionary. Ask the user to input the name of the country and its capital and add them to the dictionary. E.g., <code>capitals = {'Argentina':'Buenos Aires','France':'Paris', 'US': 'Washington D.C.'}</code>. Once the dictionary is created, print the capitals in alphabetical order. You can use the sort method from lists to sort elements.